{{#if suc_msg}}
<div class="alert alert-success">{{suc_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

{{#if fail_msg}}
    <div class="alert alert-warning">{{fail_msg}}</div>
{{/if}}