<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Trainning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/list/funcionario">Funcionários<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/list/categoria">Categorias</a>
            </li>

            {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/user">Perfil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user/logout" tabindex="-1" aria-disabled="true">Sair</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login" tabindex="-1" aria-disabled="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register" tabindex="-1" aria-disabled="true">Registrar</a>
                </li>
            {{/if}}

            {{#if user.access}}
                <li class="nav-item">
                    <a class="nav-link " href="/dev/" tabindex="-1" aria-disabled="true" >Dev++</a>
                    <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" >Dev++</a> -->

                </li>
            {{/if}}
        </ul>

        <form class="form-inline my-2 my-lg-0" method="get" action="/list/">
            <input class="form-control mr-sm-2" type="search" placeholder="Digite Aqui" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>

