#DivRodape{
    position: absolute;
    top: auto;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    background-color:#004085;
}
#DivLateral{
    position:relative;
    border-width:2px;
    width:100px;
    height: 100px;
    background-color: peachpuff;
    float: left;
}
#DivA{
    position: relative;
    border-width:2px;
    width: 100px;
    height: 100px;
    left:0px;
    background-color: red;
    float: left;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}