<h2 style="text-align: center; color:#c77305">Sessão de Login</h2>
<hr>

<div class="card" style="margin: 0pt auto; max-width: 60%; width: 500px">
    <div class="card-body">
        <form method="" action="/">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">E-Mail</div>
                </div>
                <input type="email" class="form-control" placeholder="example@example.com"
                    aria-label="Input group example" aria-describedby="btnGroupAddon">
            </div>

            <div class="input-group mt-4">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">Senha</div>
                </div>
                <input type="password" class="form-control" placeholder="" aria-label="Input group example"
                    aria-describedby="btnGroupAddon">
            </div>

            <button type="submit" name="login" id="login" class="btn btn-outline-primary mt-4"
                style="width: 100%; color:#00fd72">
                Fazer Login
            </button>
        </form>
    </div>
</div>