<h1 class="display-4" style="font-family:'Times New Roman'">Categorias</h1>

<hr>

{{#each categs}}
<div class="card mt-4">
    <div class="card-body"> 
        <h5>Categoria: {{nome}}</h5>
        <h5 style="font-size: 18px">&ensp; Salário: {{salario}}</h5>
    </div>
</div>
{{/each}}